@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.mapdiv{
    width: 70%;
    height: 25%;
    border-radius: 20px;
     
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.map{
    width: 100%;
    height: 100%;
    animation: waveText 1s ease-in-out;
}
.map2{
    width: 100%;
    height: 100%;
    
}
.map1{
    width: 100%;
    height:100%;
    border-radius: 20px;
    pointer-events: auto;
}
.maptext{
    width: 100%;
    height: 100%;
    margin: 0;
color: white;
font-size: 20px;
text-align: center;
align-content: center;
font-family: 'Inter', sans-serif;
}
@keyframes waveText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width:425px) {
    .mapdiv
    {
      width: 97%;
      height: 20%;
      border-radius: 20px;
      background:none;
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border:none;
      box-shadow:none;
  
  }
  .map{
      width: 100%;
      height: 100%;
      animation: waveText 1s ease-in-out;
  }
  .map2{
      width: 100%;
      height: 100%;
      
  }
  .map1{
      width: 100%;
      height:100%;
      border-radius: 20px;
      pointer-events: auto;
  }
  .maptext{
      width: 100%;
      height: 100%;
      margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  align-content: center;
  font-family: 'Inter', sans-serif;
  }
  @keyframes waveText {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
    
      50% {
        transform: translateY(-10px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
