@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.weeklydiv
{
    width: 88%;
    height: 32%;

    border-radius: 20px;
     
    background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
}


.weeklyforecast{
    width: 100%;
    height: 100%;
}
.weeklyreporttext{
    margin: 0;
    color: lightgray;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 10px;
}
.weeklycards{
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: waveText 1s ease-in-out;
}
.weeklycards1{
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.card2{

    height: 180px;
    width: 90px;
    border-radius: 17px;
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
  background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
}
.card2:hover{
    transform: scale(1.006px);
    backdrop-filter: blur(200px);
}
.card10{

    height: 180px;
    width: 90px;
    border-radius: 17px;
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
  background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
}
.card10:hover{
    transform: scale(1.006px);
    backdrop-filter: blur(200px);
}

.weekday{
    margin: 0;
  color:white;
  opacity: 0.7;
  text-shadow:
  0 2px 8px rgba(0,0,0,0.35),
  0 0 20px rgba(255,255,255,0.12);
font-size: 15px;
margin-top: -10px;
}
.weekdate{
    margin: 0;
    font-size: 12px;
    text-shadow:
    0 2px 8px rgba(0,0,0,0.35),
    0 0 20px rgba(255,255,255,0.12);
    color: lightgray;
}
.weekemoji{
    font-size: 20px;
}
.card128{

    height: 180px;
    width: 90px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
  background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
            overflow: hidden;
}
.card32{

    height: 180px;
    width: 90px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
  background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
            overflow: hidden;
}
.card32::after {

    content: "";
    position: absolute;

    top: 0;
    left: -40%;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .35),
            transparent) !important;

    animation: flow 2.4s linear infinite;
}
.card128::after {

    content: "";
    position: absolute;

    top: 0;
    left: -40%;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .35),
            transparent) !important;

    animation: flow 2.4s linear infinite;
}
.weekday1{
    height: 60px;
    width: 65%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.15;
  
}
.weekdate1{
    height: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    opacity: .15;

}
.weekemoji12832{
   height: 20px;
   width: 90%;
   border-radius: 10px;
   background-color: white;
   opacity: .15;
   
}
.tempSection{
    font-family: 'Inter', sans-serif;
    gap:4px;
}

.maxtemp1
{
    margin: 0;
    font-size: 15px;
    color: white;
    font-family: 'Inter', sans-serif;
}
.slash{
    display: none;
}
.mintemp{
    margin: 0;
    font-size: 13px;
   
    color:white;
}
.mintemp1{
    margin: 0;
    font-size: 13px;
    margin-top: -20px;
    color:white;
}
.rainprobability
{
    margin: 0;
    color:white;
    font-size: 12px;
    margin-top: 10px;
margin-left: -6px;
}
.dateformobileweekly{
    display: none;
}
.weekdateheadertag{
    margin: 0;
    margin-top: -10px;
}
.maxtemp4
{ color: white;
    font-size:13px;
    font-weight:700;
}
.mintemp4{
    font-size:13px;
    color:white;
}
@keyframes waveText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes flow {
    from {
        left: -120px;
        bottom: -300px;
    }

    to {
        left: 300px;
        bottom: 150px;
    }

}

  @media screen and (max-width:440px) {
    .weeklydiv
{
    width: 97%;
    height: 40%;
    border-radius: 20px;
     background:none;
     border: none;
    backdrop-filter: blur(0px);
    box-shadow: none;
    margin-top: 25px;
  
}
.weekdate1{
    margin: 0;
    margin-top: -0px;
    font-size: 12px;
    color: white;
    text-shadow:
    0 2px 8px rgba(0,0,0,0.35),
    0 0 20px rgba(255,255,255,0.12);
}
.slash{
    display: inline;
    color: white;
}
.mintemp1{
    margin: 0;
    font-size: 13px;
    margin-top: 0px;
    color:white;
}
.weeklyforecast{
    width: 100%;
    height: 100%;
}
.weeklyreporttext{
    margin: 0;
    color:white;
    font-size: 14px;
    padding-left: 8px;
    padding-top: 0px;
    margin-top: -10px;
}
.weeklycards{
    margin-top: 10px;
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
     animation: waveText 1s ease-in-out;
}
.weeklycards1{
    margin-top: 15px;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
   
.card2
{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 12px;
    background: none;
    backdrop-filter: blur(0px);
    border: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
}
.card10
{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 12px;
    background: none;
    backdrop-filter: blur(0px);
    border: none;
    box-shadow: none;
}
.card32
{
    width:100%;
    height:60px;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-between;
    padding:0 12px;
    background: none;
    backdrop-filter: blur(0px);
   background: rgba(255,255,255,0.1);
   backdrop-filter: blur(10px);
    box-shadow: none;
    border-radius: 10px;
    
}
.card128
{
    width:100%;
    height:60px;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-between;
    padding:0 12px;
    background: none;
    backdrop-filter: blur(0px);
   background: rgba(255,255,255,0.1);
   backdrop-filter: blur(10px);
    box-shadow: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.weekday1{
    width: 10%;
height: 34px;
}
.weekdate1{
    width: 20%;
    height: 55%;
}
.weekemoji12832{
    width: 20%;
    height: 55%;
}
.daySection{
    width:70px;
}
.break{
    display: none;
}

.daySection{
    width: 25%;
    height: 100%;
    display: flex;
  align-items: center;
  justify-content: flex-start;
}
.weekday{
    margin:0;
    font-size:15px;
    font-weight:600;
}
.dateformobileweekly{
    margin-top:2px;
    font-size:11px;
    color:#d5d5d5;
}
.tempSection{
display: flex;
width: 25%;
height: 100%;
align-items: center;
justify-content:flex-start;
    gap:4px;
}
.maxtemp
{
    font-size:16px;
    font-weight:700;
}
.mintemp{
    font-size:14px;
    color:#ddd;
}
.maxtemp1
{
    font-size:13px;
    font-weight:700;
}
.mintemp1{
    font-size:13px;
    color:white;
}
.maxtemp4
{ color: white;
    font-size:13px;
    font-weight:700;
}
.mintemp4{
    font-size:13px;
    color:white;
}
.emoji3{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
justify-content:flex-start;
}
.weekemoji{
   margin-left: 15px;
    font-size:30px;
    
}
.rainprobabilitydiv{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.rainprobability{
    display:block;
    color:white;
    font-size:12px;
    margin:0;
}
@keyframes waveText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  }