@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.weeklydiv
{
    width: 88%;
    height: 32%;

    border-radius: 20px;
     
    background: rgba(255, 255, 255, .003);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
            isolation:isolate;
}


.weeklyforecast{
    width: 100%;
    height: 100%;
}
.weeklyreporttext{
    margin: 0;
    color: lightgray;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 10px;
}
.weeklycards{
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: waveText 1s ease-in-out;
}
.weeklycards1{
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.card2{

    height: 200px;
    width: 90px;
    border-radius: 17px;
    text-align: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
    background: rgba(255, 255, 255, 0.08);
     border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 18px;
  transition: 0.1s ease-in-out;
}
.card2:hover{
    transform: scale(1.006px);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
}


.weekday{
    margin: 0;
  color:white;
  opacity: 0.7;
  text-shadow:
  0 2px 8px rgba(0,0,0,0.35),
  0 0 20px rgba(255,255,255,0.12);
font-size: 15px;
margin-top: -10px;
}
.weekdate{
    margin: 0;
    font-size: 12px;
    text-shadow:
    0 2px 8px rgba(0,0,0,0.35),
    0 0 20px rgba(255,255,255,0.12);
    color: lightgray;
}
.weekdate1{
    margin: 0;
    font-size: 12px;
    color: lightgray;
}
.weekemoji{
    margin: 0;
    font-size: 37px;
}
.maxtemp
{
    margin: 0;
    font-size: 19px;
    color: white;
}
.mintemp{
    margin: 0;
    font-size: 13px;
    color:white;
}
.rainprobability
{
    margin: 0;
    color:darkblue;
    opacity: 0.6;
    font-size: 12px;
}
.dateformobileweekly{
    display: none;
}
.weekdateheadertag{
    margin: 0;
    margin-top: -10px;
}
@keyframes waveText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media screen and (max-width:425px) {
    .weeklydiv
{
    width: 97%;
    height: 40%;
    border-radius: 20px;
     background:none;
     border: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: none;
    margin-top: 25px;
  
}
.weekdate1{
    margin: 0;
    margin-top: -17px;
    font-size: 12px;
    color: lightgray;
    text-shadow:
    0 2px 8px rgba(0,0,0,0.35),
    0 0 20px rgba(255,255,255,0.12);
}

.weeklyforecast{
    width: 100%;
    height: 100%;
}
.weeklyreporttext{
    margin: 0;
    color: lightgray;
    font-size: 14px;
    padding-left: 8px;
    padding-top: 0px;
    margin-top: -10px;
}
.weeklycards{
    margin-top: 10px;
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: waveText 1s ease-in-out;
}
.weeklycards1{
    
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.card2
{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
   text-align: center;
   align-content: center;
   justify-content: space-around;
   font-family: 'Inter', sans-serif;
    border: none;
    background:none;
     border-bottom: 1px solid white;
    box-shadow:none;
  border-radius: 0px;
  transition: 0.1s ease-in-out;
}
.card2:hover
{
    transform: scale(1.006px);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
}


.weekday{
    margin: 0;
  color:white;
  opacity: 0.7;
font-size: 15px;
margin-top: -20px;
text-shadow:
0 2px 8px rgba(0,0,0,0.35),
0 0 20px rgba(255,255,255,0.12);
}
.dateformobileweekly{
    margin: 0;
    margin-top: -17px;
   font-size: 12px;
    color: lightgray;
    display: inline;
}
.weekdateheadertag{
    margin: 0;
    margin-top: -25px;
}
.weekdate{
   display: none;
}
.weekemoji{
    margin: 0;
    font-size: 25px;
    margin-top: -17px;
}
.maxtemp
{
    margin: 0;
    font-size: 15px;
    color: white;
    margin-top: -17px;
}
.mintemp{
    margin: 0;
    font-size: 12px;
    color: lightgray;
    margin-top: -17px;
}
.rainprobability
{
   display: none;
}
@keyframes waveText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  }