.rain-bg{
    position:absolute;
    inset:0;
    height: 1760px;
    width: 100%;
    overflow:hidden;
    background:linear-gradient(#485563,#29323c);
    z-index:-1;
    }
    
    .drop{
    position:absolute;
    top:-20px;
    width:2px;
    height:18px;
    background:white;
    opacity:.7;
    animation:rain linear infinite;
    }
    
    @keyframes rain{
    
    to{
    transform:translateY(70vh);
    }
    
    }
    @media screen and (max-width:320px) {
        .rain-bg{
            position:absolute;
            inset:0;
            height: 1860px;
            width: 100%;
            overflow:hidden;
            background:linear-gradient(#485563,#29323c);
            z-index:-1;
            }
            
            .drop{
            position:absolute;
            top:-20px;
            width:2px;
            height:18px;
            background:white;
            opacity:.7;
            animation:rain linear infinite;
            }
            
            @keyframes rain{
            
            to{
            transform:translateY(100vh);
            }
            
            }




    }