@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"');


.container{
  width: 100%;
  height: 100vh;
  position: fixed;
  position: relative;
  overflow: hidden;
 }
.loader{
  height: 150px;
  width: 150px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.myToast {
  background: rgba(255,255,255,.25) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  height: 20px !important;
  width: 250px !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255,255,255,.15) !important;

  color: white !important;
}

.myToastBody{
  font-family: 'Inter', sans-serif !important;
  font-size: 15px !important;
  font-weight: 900 !important;
}

.myProgress{
  background: #4FACFE !important; 
}
@media screen and (max-width:320px) {
  .container{
    width: 100%;
    height: 1900px;
    position: relative;
 
}
  .loader{
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    top: 5%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .myToast {
    background: rgba(255,255,255,.25) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    height: 20px !important;
    width: 250px !important;
    border-radius: 16px !important;
    border: 1px solid rgba(255,255,255,.15) !important;
  
    color: white !important;
  }
  
  .myToastBody{
    font-family: 'Inter', sans-serif !important;
    font-size: 15px !important;
    font-weight: 900 !important;
  }
  
  .myProgress{
    background: #4FACFE !important; 
  }
}@media screen and (min-width:320px) and (max-width:425px) {
  .container{
    width: 100%;
    height: 1900px;
    position: relative;
    overflow: hidden;
    background-position: 75% center !important;
 
}

  .loader{
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    top: 5%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .myToast {
    background: rgba(255,255,255,.25) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    height: 20px !important;
    width: 250px !important;
    border-radius: 16px !important;
    border: 1px solid rgba(255,255,255,.15) !important;
  
    color: white !important;
  }
  
  .myToastBody{
    font-family: 'Inter', sans-serif !important;
    font-size: 15px !important;
    font-weight: 900 !important;
  }
  
  .myProgress{
    background: #4FACFE !important; 
  }
}