html{
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}
html,
body,
#root{
    font-family:'Inter',sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}
button,
input,
textarea,
select{
    font-family:inherit;
}
